<!DOCTYPE html>
<html>
<head>
 <meta charset=utf8>
 <title>${title}</title>
 ${stylesheets}
</head>
<body>

${acpTopBar}

<div id="content">
	<div id="under_menu">
		<a href="index.php?settings">Ustawienia</a> &bull;
		<a href="index.php?logo">Zmiana loga</a>
	</div><br />
	<div style="text-align: center;">Witaj w panelu administracyjnym, <strong>${user_login}</strong>!<br /><br />
	
	Informacje o systemie:<br />
	<strong>Wersja VenturePHP: ${vphp_version}</strong><br />
	<strong>Założyciel bloga/główny administrator: ${blog_owner}</strong>
	</div>
</div>

</body>
</html>