<!DOCTYPE html>
<html>
<head>
 <meta charset=utf8>
 <title>${title}</title>
 ${stylesheets}
<script src="/templates/js/prototype.js"></script>
</head>
<body>

${acpTopBar}

<script>
var pholder = Class.create({
    initialize: function (element) {
        this.element = element;
        this.placeholder = element.readAttribute('placeholder');
        this.blur();
        Event.observe(this.element, 'focus', this.focus.bindAsEventListener(this));
        Event.observe(this.element, 'blur', this.blur.bindAsEventListener(this));
    },
    focus: function () {
        if (this.element.hasClassName('placeholder'))
            this.element.clear().removeClassName('placeholder');
    },
    blur: function () {
        if (this.element.value === '')
            this.element.addClassName('placeholder').value = this.placeholder;
    }
});
    
function showResult(str)
{
if (str.length==0)
  { 
  document.getElementById("show_results").innerHTML="";
  document.getElementById("show_results").style.border="0px";
  return;
  }
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("show_results").innerHTML=xmlhttp.responseText;
    document.getElementById("show_results").style.border="1px solid #A5ACB2";
    }
  }
xmlhttp.open("GET","users.php?search&user="+str,true);
xmlhttp.send();
}
	 
 </script>

<div id="content">
<div id="show_results"></div>
	<div style="text-align: center;">Zarządzanie użytkownikami, rób z nimi co chcesz <strong>${user_login}</strong>!<br /><br />
	
	<form id="searchform" method="post" onsubmit="return false;">
	 <input type="text" id="searchbox" onkeyup="showResult(this.value)" name="username" autocomplete="off" placeholder="Wpisz nazwę użytkownika..." />
 	</form>
	
	</div>
</div>

</body>
</html>