.post
{
  background-color: white;
  border: 1px solid #d4d4d4; 
  width: 50%;
  margin-left: 5%;
  padding: 5px;
  float: left;
  margin-top: 2%;
}

.post_title
{
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(60,60,60);
  line-height: 1.8em;
  font-size: 19px;
	
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.post_title:hover
{
  color: gray;
	
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.post_info
{
 float: right;
 font-family: Arial;
 font-size: 12px;
 margin-top: 22px;
}

.post_content
{
 font-family: Tahoma;
 font-size: 13px;
}

.img_edit_post
{
 float: right;
 margin-top: -5px;
 width: 16px;
 height: 16px;
}

.button
{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	
	margin-left: 40%;
}

.button:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.button:active
{
	position:relative;
	top:1px;
}
/* Thanks to CSSButtonGenerator.com! :-) */

hr
{
 border: 0px solid black;
 border-top: 1px solid gray;
}

/* 1.2 */

#extras {
  padding-top: -10%;	
}

#extra {
  background-color: white;
  border: 1px solid #d4d4d4; 
  width: 30%;
  padding: 5px;
  margin-right: 5%;
  
  float: right;
  margin-top: 6%;
}

.extra-title {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(60,60,60);
  line-height: 1.8em;
  font-size: 19px;
	
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  
  border-bottom: 1px solid black;
  
  text-align: center;
}

.extra-content {
	padding: 5px;
	
	font-family: Arial;
	font-size: 12px;
}

.extra a {
	font-family: Arial;
	text-decoration: none;
	font-size: 13px;
	color: #6495ED;
}

.extra a:hover {
	text-decoration: underline;
}