<!DOCTYPE html>
<html>
<head>
 <meta charset=utf8>
 <title>${title}</title>
 ${stylesheets}
</head>
<body>

${top_bar}


<div id="content">

	<div id="extra">
		<div class="extra-title">Informacje o blogu</div>
		<div class="extra-content">Administratorem bloga jest <strong>${blog_admin}</strong><br />
		Krótki opis bloga:<br />
		<i>${blog_desc}</i>
		</div>
	<br />
	<div class="separator"></div>
	
		<div class="extra-title">Kolejny box</div>
		<div class="extra-content"><i>Nie wiem co można by tu dodać :c</i>
		</div>
	</div>
${post_list}

</div>
</body>
</html>